# Bitget API Credentials
BITGET_API_KEY=bg_d3c5de21c103163ee01ce7892f44c4fd
BITGET_API_SECRET=510b56276a07a78bb4d2d6a70386de91bfbaa1d0c7729ee34e5451ac82ddd260
BITGET_API_PASSPHRASE=bitgetbot

# Strategy Settings
SYMBOL=SUI/USDT:USDT
TIMEFRAME=15m
LEVERAGE=5
RISK_AMOUNT_USDT=5

# Bot Settings
LOG_LEVEL=INFO
DRY_RUN=True
